<div class="dashboard-container">
    <div class="header">
        <h2>Todo Dashboard</h2>
        <div class="buttons">
            <button class="add-todo-btn" (click)="openTodoPanel('add')">Add Todo</button>
            <button class="logout-btn" (click)="logoutUser()">Logout</button>
        </div>
    </div>

    <div class="todo-grid">
        @if(todos.length > 0){
        @for (todo of todos; track $index) {
        <div class="todo-card">
            <div class="card-header">
                <h3>{{ todo?.title }}</h3>
                <div class="card-icons">
                    @if(!todo?.isCompleted){
                    <img src="assets/icons/edit.svg" alt="Edit" (click)="openTodoPanel('edit', todo)" />
                    }
                    <img src="assets/icons/delete.svg" alt="Delete" (click)="onDelete(todo)" />
                    <img src="assets/icons/eye-open.svg" alt="View" (click)="onView(todo)" />
                    @if(!todo?.isCompleted){
                    <img src="assets/icons/complete.svg" alt="Complete" (click)="onComplete(todo)" />
                    }
                </div>
            </div>
            <div class="card-body">
                <p>{{ todo?.content }}</p>
            </div>
        </div>

        }
        } @else {
        <div class="todo-card">
            <div class="card-body">
                <p>You do not have any tasks to display</p>
            </div>
        </div>
        }
    </div>

    <!-- Sliding panel -->
    <div class="todo-panel" [class.open]="isPanelOpen">
        <div class="panel-header">
            <h3>{{ panelModel === 'edit' ? 'Edit Todo' : panelModel === 'add' ? 'Add Todo' : 'View Todo' }}</h3>
            <button class="close-btn" (click)="closeTodoPanel()">×</button>
        </div>

        <form [formGroup]="todoForm" (ngSubmit)="onSave()">
            <div class="form-group">
                <label for="title">Title</label>
                <input id="title" formControlName="title" placeholder="Enter title" required/>
            </div>

            <div class="form-group">
                <label for="content">Content</label>
                <textarea id="content" formControlName="content" placeholder="Enter content" rows="4"
                    required></textarea>
            </div>

            @if(panelModel === 'edit' || panelModel === 'add'){
            <div class="form-actions">
                <button type="button" class="discard-btn" (click)="closeTodoPanel()">Discard</button>
                <button type="submit" class="save-btn" [disabled]="todoForm.invalid">{{ panelModel === 'edit' ? 'Save Changes' : 'Add Todo' }}</button>
            </div>
            }
        </form>
    </div>
</div>